
html{
    padding: 0;
    margin: 0;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 15px;
  font-family: $font2;
  -ms-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;


  #nav-wrapper{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    // font-family: $font1;
    color: #111;
    font-size: 1em;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);

    .nav-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 5px;
      .slideInDown {
        padding: 0;
    }


      ul{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 0;

        animation-duration: 0.5s;
        li{
          display: inline;
          text-align: center;
          margin: 0 15px;

          @include transition;


          a{
            font-family: $font1;
            color: #fff;
            text-decoration: none;
            // text-transform: uppercase;

            @include transition;

            &:hover{
              opacity: .7;
            }
          }
        }
        .login-button{
          font-weight: inherit !important;
          padding: 0;
          border: none;
          margin: 0;

          &:hover{
            background-color: transparent;
          }
        }

      } // ul

      .nav-logo{
        display: flex;
        align-items: center;
        color: #fff;

        .logo{
          width: 90px;
        }
      }

    } // nav-container

    @media (min-width: 790px) {
      .hamburger {
        display: none;
      }
    }

  } // nav-wrapper

  @media (min-width: 790px) {
    #menu.animated {
      -ms-animation: none;
      -moz-animation: none;
      -webkit-animation: none;
      animation: none;
    }
  }

  @media (max-width: 789px) {
    #nav-wrapper {
      padding: 0;
      .nav-container {
        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: fixed;
          background: #844763;
          background-position: center;
          background-size: cover;
          height: 100vh;
          width: 100vw;
          top: 0;
          left: 0;
          overflow: hidden;
          display: none;

          li {
            margin: 20px 0;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            font-size: 1.3em;
          }

          .login-button {
            margin: 20px 0;
          }

          &.slideInDown {
            display: flex;
          }
        }
      }
    }
  }

.about{
  text-align: center;

  .wrapper{
    p{
      color: #000;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}


.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #fff !important;
}

} //body
